<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1>This is the index</h1>

<h2>Templates</h2>
<a href="http://localhost:8080/" />/ (here aka index.html)</a><br>
<a href="http://localhost:8080/greeting" />/greeting</a><br>
<a href="http://localhost:8080/greeting?name=asdf" />greeting?name=asdf</a><br>
<h2>REST Services</h2>
<a href="http://localhost:8080/hello" />/hello</a><br>
<a href="http://localhost:8080/persons" />/persons</a><br>
<a href="http://localhost:8080/person/1" />/person/1</a><br>
</body>
</html>